/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, section, footer {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    color: #007BFF;
}

header p, footer p {
    margin: 0;
}

h2 {
    color: #333333;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* New style for HubSpot Academy Badge */
.academy-badge {
    margin-top: 10px;
    text-align: center;
}

.academy-badge img {
    width: 100px;
    height: auto;
    border: 2px solid #007BFF;
    border-radius: 8px;
}
